.nqhwf { 
  padding-top: 14px;
  font-size: 13px;
  font-size: 37px;
  margin-left: 48px;
  margin-left: 9px;
  border-left-width: 4px;
  margin-left: 60px;
  padding-right: 93px;
  border-top-width: 57px;
  padding-bottom: 37px;
  margin-top: 99px;
  padding-left: 43px;
  margin-top: 6px;
  border-top-width: 91px;
  padding-top: 65px;
  border-left-width: 20px;
  border-left-width: 74px;
}
