.koemh { 
  border-left-width: 14px;
  border-bottom-width: 49px;
  border-left-width: 92px;
  line-height: 39px;
  line-height: 74px;
  line-height: 82px;
  border-right-width: 33px;
  line-height: 45px;
  margin-left: 61px;
  border-top-width: 71px;
  border-top-width: 89px;
  line-height: 74px;
  margin-bottom: 17px;
  border-left-width: 68px;
  border-left-width: 87px;
  margin-right: 0px;
  font-size: 13px;
  margin-right: 83px;
  line-height: 74px;
  margin-bottom: 77px;
}
