.koemh { 
  border-left-width: 14px;
  border-bottom-width: 49px;
  border-left-width: 92px;
  line-height: 39px;
  line-height: 74px;
  line-height: 82px;
  border-right-width: 33px;
  line-height: 45px;
  margin-left: 61px;
  font-size: 57px;
}
